@import "tailwindcss";

@theme {
  /* Начиная с: */
  --breakpoint-sm: 480px;   /* маленькие смартфоны */
  --breakpoint-md: 768px;   /* планшеты (портрет) */
  --breakpoint-lg: 1024px;  /* планшеты (альбом) / маленькие ноутбуки */
  --breakpoint-xl: 1440px;  /* десктопы */
  --breakpoint-2xl: 1680px; /* большие мониторы */
  
  --max-content: 1520px;    /* контентная зона */
}

@keyframes marquee {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}

